[Unit]
Description=Run Ownlish daily PostgreSQL backup

[Timer]
OnCalendar=*-*-* 02:00:00 Asia/Ho_Chi_Minh
Persistent=true

[Install]
WantedBy=timers.target
