DATABASE_URL="postgresql://ownlish:ownlish@localhost:5433/ownlish"
JWT_SECRET="replace-with-at-least-32-characters"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3000"
PORT="3001"
CORS_ORIGIN="http://localhost:3000"
ACCESS_TOKEN_TTL_SECONDS="900"
BCRYPT_SALT_ROUNDS="10"
REFRESH_TOKEN_TTL_DAYS="30"
REFRESH_TOKEN_COOKIE_NAME="ownlish.refreshToken"
REFRESH_TOKEN_COOKIE_SECURE="false"
REFRESH_TOKEN_COOKIE_SAME_SITE="lax"
AUTH_RATE_LIMIT_LIMIT="10"
AUTH_RATE_LIMIT_TTL_SECONDS="60"
EMAIL_MAILER="resend"
RESEND_API_KEY=""
EMAIL_FROM="Ownlish <auth@ownlish.com>"
EMAIL_OTP_PEPPER="replace-with-at-least-32-characters"
R2_ENDPOINT="https://<account-id>.r2.cloudflarestorage.com"
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_CONTENT_BUCKET="ownlish-content-staging"
R2_ASSETS_BUCKET="ownlish-assets-staging"
PUBLIC_ASSETS_ROOT="https://assets.staging.ownlish.com"
TOEIC_GRADING_INDEX_URL="https://content.staging.ownlish.com/toeic/grading-index.json"
OTEL_ENABLED="false"
OTEL_EXPORTER_OTLP_ENDPOINT=""
OTEL_EXPORTER_OTLP_HEADERS=""
OTEL_SERVICE_NAME="ownlish-server"
